# general things to ignore
.ipynb_checkpoints
convertor_and_uploader.ipynb

# files in try1 folder
try1/try1.ipynb
try1/.ipynb_checkpoints

# files in *ipython_blogs* folder
ipython_blogs/.ipynb_checkpoints