# general things to ignore
build/
dist/
PIV_data/
cli_codes.txt
*.ipynb
*.ipynb_checkpoints
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# files in try1 folder
try1/try1.ipynb
try1/.ipynb_checkpoints


# due to using tox and pytest
.tox
.cache